<% include partials/_header %>
<% include partials/_css-js.ejs %>

<script>
  $(document).ready(function () {
    $('#usertable').DataTable({
      "scrollY": "220px",
      "scrollCollapse": true,
      "ajax": {
        "url": "/memberdata",
        "dataSrc": ""
      },
      columns: [{
          data: "firstname"
        },
        {
          data: "lastname"
        },
        {
          data: "email"
        },
        {
          data: "createdAt"
        }
      ]
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>

<div class="container">
  <br>
  <p><strong>
      <h1>IoT Members</h1>
    </strong></p>
  <br>
  <div class="table-responsive">
    <table id="usertable" class="table table-striped table-bordered table-hover table-sm text-nowrap">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Created</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
</body>

</html>