<% include partials/_header %>
<% include partials/_css-js.ejs %>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  $(document).ready(function () {
    $('#usertable').DataTable({
      "scrollY": "220px",
      "scrollCollapse": true,
      "ajax": {
        "url": "/memberdata",
        "dataSrc": ""
      },
      columns: [{
          data: "firstname"
        },
        {
          data: "lastname"
        },
        {
          data: "email"
        },
        {
          data: "createdAt"
        }
      ]
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>

<script>
axios.get('/memberdata')
  .then(function(members){
    console.log(members.data)
  })
  .catch (function (error) {
    console.log(error);
    console.log(`Could not get members`);
    })
</script>

<div class="container">
  <br>
  <p><strong>
      <h1>IoT Members</h1>
    </strong></p>
  <br>
  <div class="table-responsive">
    <table id="usertable" class="table table-striped table-bordered table-hover table-sm text-nowrap">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Registered</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
</body>

</html>