<!DOCTYPE html>
<html>

<head>
  <title>IoT Colorado</title>
  <% include partials/_header.ejs %>
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <script type="text/javascript">
    function Success() {
      alert("You're registered");
    };
  </script>
</head>

<body>

  <div class="jumbotron" style="width: 100%">
    <div class="container" style="width: 80%">
      <div class="col-sm-6">
        <img src="images/iotColorado.jpeg" alt="IoT Colorado">
      </div>

      <p><strong>
          <h1>IoT Member Registration</h1>
        </strong></p>

      <form action="/register" method="post">
        <div class="form-group text-left">
          <label for="firstname">First Name</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="firstname" placeholder="First Name" required autofocus="required" />
            <small id="userHelp" class="form-text text-muted">We'll never share your data.</small>
          </div>
        </div>

        <div class="form-group text-left">
          <label for="lastname">Last Name</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="lastname" placeholder="Last Name" required />
          </div>
        </div>

        <div class="form-group text-left">
          <label for="email">Email</label>
          <div class="col-sm-7">
            <input type="email" class="form-control" name="email" placeholder="Email" required />
          </div>
        </div>

        <button type="submit" value="register" class="btn btn-primary">Register</button>
        <!-- <button type="submit" value="register" form.onsubmit="Success();" class="btn btn-primary">Register</button> -->

      </form>
    </div>
  </div>
  </div>

</body>

</html>