body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body{
  background-color: #12d1f3;
}

.jumbotron{
  background-color: rgb(138, 255, 127),
}

.container{
  background-color: aquamarine,
}

.btn.btn-primary{
   background-color: #12d1f3
 }
