body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: #141618;
}

.container {
  background-color: lightgray,
}

.btn.btn-primary {
  background-color: black
}

.card {
  background-color: lightgrey
}

.form-control {
  text-align: left
}

#heading {
  text-emphasis: strong;
}

img {
  display: block;
  width: 100%;
  height: auto
}